* {
     box-sizing: border-box;
}
body {
     background-color: #f4f4f4;
     font-style: Arial,helvetica,sans-serif;
     line-height: 1.5;
     margin: 0px;
}
header {
     background-color: #333;
     color: #fff;
     padding: 0.5rem;
     text-align: center;
     text-transform: capitalize;
}
main {
     margin: 2rem;
}
nav {
     background-color: #444;
     padding: 0.2rem 2rem;
}
nav ul {
     list-style: none;
     padding: 0px;
     display: flex;
}
nav ul li a {
     padding: 10px;
     color: #fff;
     text-decoration: none;
     text-transform: capitalize;
}
nav ul .current a {
     color: yellow;
}